body {
    background:#fff;
    color:#111;
    font-family:'Rubik';
    font-size:24px;
    text-align:center;
    padding-top:40px;
}

canvas {
    width: 70%;
    height: auto;
    display: block;
}

.flexrow {
    display: flex;
    justify-content: space-evenly;
}

.flexrow canvas {
    width: 30%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1 {
    font-weight: 100;
    font-size: 1.5em;
}

.inlineflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

button {
    font-family: 'Rubik';

    font-size: 1em;
    padding: 1% 5%;
    margin: 0% 2%;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    background-color: #eee;
    color: #000;
}

button:hover {
    background-color: #f5f5f5;
    color: #555;
}
